body {
    margin:0px; 
    padding:0px;
    background-color:#ffffff;
}

.top-bar {
    width: 1000px;
    height: 60px;
	background: #2e2e2e;
}

.top-bar ul {
    font: 12px 'Georgia';
    color: #9f9f9f;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 20px;
    top: 23px;
    margin: 0;
	padding: 0;
    z-index: 209;
}

.top-bar li {
	display: inline-block;
}

.top-bar a {
    text-decoration: none;
	color: #9f9f9f;
}

.top-bar__social {

    width: auto;
    height: 32px;   
}

.top-bar__social ul {
    font-size: 0;
    left: 775px;
    top: 14px;
}

.top-bar__social li {
    margin: 0;
    padding: 0 5px;
}

a.linkedin {
    background: url(../images/social.png);
    display: block;
    width: 32px;
    height: 32px;
}

a.linkedin:hover {
    background-position: -32px 0;
}

a.twitter {
    background: url(../images/social.png);
    background-position: -64px 0;
    display: block;
    width: 32px;
    height: 32px;
}

a.twitter:hover {
    background-position: -96px 0;
}

a.pinterest {
    background: url(../images/social.png);
    background-position: -128px 0;
    display: block;
    width: 32px;
    height: 32px;
}

a.pinterest:hover {
    background-position: -160px 0;
}

a.google-plus {
    background: url(../images/social.png);
    background-position: -192px 0;
    display: block;
    width: 32px;
    height: 32px;
}

a.google-plus:hover {
    background-position: -224px 0;
}

a.rss {
    background: url(../images/social.png);
    background-position: -256px 0;
    display: block;
    width: 32px;
    height: 32px;
}

a.rss:hover {
    background-position: -288px 0;
}

.header ul {
    font-size: 0;
	margin: 0;
	padding: 0;
    color: #2e2e2e;
    line-height: 1;
    text-align: left;
    position: absolute;
    left: 10px;
    top: 101px;
    z-index: 173;
}

.header li {
    display: inline-block;
    font: "Georgia";
    font-size: 14px;
    color: #9f9f9f;
    margin: 0;
	padding: 0px 10px;
}

.header a {
    position: relative;
}


.header a:active {
    color: #9f9f9f;
}

.header a:hover {
    color: #9f9f9f;
}

.header a {
	text-decoration: none;
    color: #2e2e2e;
}

.bottom-border {
    background-color: rgb(241, 241, 241);
    position: absolute;
    left: 20px;
    top: 131px;
    width: 960px;
    height: 5px;
    z-index: 166;
}

.active_bottom_border {
    background-color: rgb(0, 153, 255);
    position: absolute;
    left: 20px;
    top: 131px;
    width: 80px;
    height: 5px;
    z-index: 174;
}

.logo {
    font-size: 36px;
    font-family: "Georgia";
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 20px;
    top: 181px;
    padding: 0;
    margin: 0;
    z-index: 163;
}

.search {
    position: absolute;
    top: 203px;
    left: 692px;
    padding: 0;
    margin: 0;    
}

.search input {
    /* отключаем бордюры у инпутов */
    border: none;
    border-radius: 5px;
    height: 31px;
    outline: none;
}

.search .input {
    width: 215px;
    background-color: rgb(241, 241, 241); 
    padding: 7px;
    font-size: 12px;
    font: "Georgia";
    color: rgb(153, 153, 153);
    line-height: 1.2;
    text-align: left;
}

.search .submitt {
    background-color: rgb(0, 153, 255);
    top: 203px;
    left: 912px;
    width: 60px;
    font-size: 12px;
    font: "Georgia";
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

p {
    font-size: 12px;
    font: "Georgia";
    color: rgb(153, 153, 153);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    top: 224px;
    left: 20px;
    padding: 0;
    margin: 0;
    z-index: 162;
}

.body-top-border {
    background-color: rgb(233, 233, 233);
    position: absolute;
    left: 0px;
    top: 279px;
    width: 1000px;
    height: 5px;
    z-index: 154;
}

.body {
    background-color: rgb(241, 241, 241);
    position: absolute;
    left: 0px;
    top: 284px;
    width: 1000px;
    height: 450px;
    z-index: 134;
}

.title {
    font-size: 36px;
    font-family: "Georgia";
    color: rgb(51, 51, 51);
    line-height: 1;
    text-align: left;
    position: absolute;
    left: 22px;
    top: 436px;
    width: 340px;
    height: 71px;
    z-index: 150;
}

.description {
    font-size: 16px;
    font-family: "Georgia";
    color: rgb(102, 102, 102);
    line-height: 1.4;
    text-align: left;
    position: absolute;
    left: 22px;
    top: 527px;
    width: 354px;
    height: 60px;
    z-index: 149;
}

.rectangle {
    background-color: rgb(51, 51, 51);
    position: absolute;
    left: 430px;
    top: 294px;
    width: 550px;
    height: 440px;
    z-index: 136;
}

.body-bottom-border {
    background-color: rgb(233, 233, 233);
    position: absolute;
    left: 0px;
    top: 734px;
    width: 1000px;
    height: 10px;
    z-index: 133;
}